<a href="/hacks/">&larr; Back to list</a>

<main>
  <div id="left-column">
    <div id="categorie_une"></div>
  </div>
  <div id="right-column">
    <div id="search-input"></div>
    <div id="stats"></div>
    <div id="results"></div>
  </div>
</main>